@using System.Collections.Generic
@using System.Linq
@using PostOffice.Web.Models

@*@model IEnumerable<ParcelViewModel>*@

@{
    if (false/*Model == null || !Model.Any()*/)
    {
        <p>Нет зарегистрированных посылок...</p>
    }
    else
    {
        var parcels = (IEnumerable<ParcelViewModel>)ViewBag.Parcels;
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>N</th>
                    <th>@Html.DisplayName("Weight")</th>
                    <th>@Html.DisplayName("RecipientFullName")</th>
                    <th>@Html.DisplayName("SenderFullName")</th>
                    <th>@Html.DisplayName("RecipientAdress")</th>
                    <th>@Html.DisplayName("SenderAdress")</th>
                    <th>@Html.DisplayName("Inventory")</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var n = 0;
                    foreach (var parcel in parcels)
                    {
                        n++;
                        <tr>
                            <td>@n</td>
                            <td>@parcel.Weight</td>
                            <td>@parcel.RecipientFullName</td>
                            <td>@parcel.SenderFullName</td>
                            <td>@parcel.RecipientAdress</td>
                            <td>@parcel.SenderAdress</td>
                            @if (string.IsNullOrEmpty(parcel.Inventory))
                            {
                                <td>Отсутствует</td>
                            }
                            else
                            {
                                <td>@parcel.Inventory</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}